{% extends 'base.html.twig' %}

{% block title %}Mon compte - Quai Antique{% endblock %}

{% block content %}
    <h1></h1>
    Bienvenue {{ app.user.firstname }} dans votre compte.<br/>
    C'est dans cet espace que vous allez pouvoir gérer toutes vos informations personnelles.
    <hr>

    <div class="row">
        <div class="col-md-3">
            {% if is_granted('ROLE_ADMIN') %}
                <div class="account-item text-center m-1">
                    <img src="{{ asset('assets/img/cadenas.png') }}" alt="backoffice"><br>
                    <a href="/admin">Vous étes un administrateur, accéder au backoffice ? </a>
                </div>
            {% endif %}
        </div>
        <div class="col-md-3">
            <div class="account-item text-center m-1">
                <img src="{{ asset('assets/img/cadenas.png') }}" alt="Modifier mon mot de passe"><br>
                <a href="{{ path('app_account_password') }}">Modifier mon mot de passe</a>
            </div>
        </div>
        <div class="col-md-3">
            <div class="account-item text-center m-1">
                <img src="{{ asset('assets/img/reservation.png') }}" alt="Mes réservations"><br>
                <a href="{{ path('app_booking_show') }}">Mes réservations</a>
            </div>
        </div>
    </div>
    <hr>
{% endblock %}

{% block javascripts %}
    <script>
        // Sélectionne l'élément h1 de la page
        const title = document.querySelector("h1");

        // Définit le texte qui sera utilisé pour l'effet de machine à écrire
        const text = "Mon compte";

        // Fonction récursive typewriter qui ajoute progressivement les caractères à l'élément h1
        function typewriter(text, index) {
            // Vérifie si l'index est inférieur à la longueur du texte
            if (index < text.length) {
                // Utilise setTimeout pour créer un délai de 100 ms entre chaque caractère
                setTimeout(() => {
                    // Ajoute le caractère actuel à l'élément h1 à l'aide d'une balise span
                    title.innerHTML += `<span>${text[index]}</span>`;

                    // Appelle récursivement la fonction typewriter avec le prochain index
                    typewriter(text, index + 1);
                }, 100);
            }
        }

        // Appelle la fonction typewriter avec un délai initial de 5 ms
        setTimeout(() => {
            typewriter(text, 0);
        }, 5);
    </script>
{% endblock %}

